{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/admin-mongo.css' %}" />
    {% if collection_name and fields %}
        <div class="row">
            <div class="col-md-12">
                <div class="collection-header-wrapper"><span class="collection-header">Collection: {{ collection_name }}</span></div>
            </div>
        </div>
        <br>
        <form action="" method="POST" enctype='application/json'>
            {% csrf_token %}
            <input type="hidden" name="collection" value="{{ collection_name }}">
            <!-- <input type="submit" class="btn btn-default"> -->
        </form>
        <br>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    var fields = JSON.parse('{{ fields|safe }}');
</script>
<script src="{% static 'app/scripts/admin_mongo-add.js' %}"></script>
{% endblock %}