{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/member.css' %}" />
    <div class="row member">
        <div class="col-sm-4 member-image-wrapper"><img class="member-image" src="{% if member_detail.patient_img %}{{ member_detail.patient_img }}{% else %}{% static 'app/images/user.jpg' %}{% endif %}"></div>
        <div class="col-sm-8 member-content">
            <h3>{{ member_detail.patient_name_title }}{{ member_detail.patient_name }} {{ member_detail.patient_surname }}</h3>
            <div class="member-content">
                <div class="row">
                    <div class="col-xs-4"><span>เลขประจำตัวประชาชน </span></div>
                    <div class="col-xs-8"><span>{{ member_detail.id_card_number }}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><span>หมู่เลือด </span></div>
                    <div class="col-xs-8"><span>{{ member_detail.blood_group_abo }}, {{ member_detail.blood_group_rh }}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><span>เบอร์โทรศัพท์ </span></div>
                    <div class="col-xs-8"><span>{{ member_detail.telephone_number }}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><span>อีเมล </span></div>
                    <div class="col-xs-8"><span>{{ member_detail.email }}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><span>โรคประจำตัว </span></div>
                    <div class="col-xs-8"><span>
                        {% if member_detail.congenital_disease|length > 0 %}
                            {{ member_detail.congenital_disease|join:"," }}
                        {% else %}
                            -
                        {% endif %}
                    </span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>รายละเอียดการรักษา </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="form-group">
                    <style>
                        textarea[name="treating-detail"] {
                            max-width: 100%;
                        }
                    </style>
                    <textarea class="form-control" rows="5" name="treating-detail"></textarea>
                </div> 
                <button class="btn btn-default">บันทึก</button>
            </form>
        </div>
    </div>
{% endblock %}
