{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/payment.css' %}" />
    <div class="row">
        <div class="col-md-12">
            <h3>เลือกวิธีการชำระเงิน</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 payment_type-wrapper">
            <ul class="payment_type">
                <a href="/payment/card/"><li>
                    <img src="https://cdn3.iconfinder.com/data/icons/rcons-finance/32/cards_bank-512.png" alt="" style="width: 50px;">
                    &nbsp;&nbsp;
                    บัตรเครดิต
                </li></a>
                <a href="/payment/bank/"><li>
                    <img src="http://www.pvhc.net/img126/mnhctkzpcigsmymmvpsw.png" alt="" style="width: 50px;">
                    &nbsp;&nbsp;
                    โอนผ่านธนาคาร
                </li></a>
            </ul>    
        </div>
    </div>
{% endblock %}