{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/payment.css' %}" />
    <div class="row">
        <div class="col-md-12">
            <h3>เลือกวิธีการชำระเงิน</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 payment_type-wrapper">
            <ul class="payment_type">
                <a href="/payment/visa/"><li>บัตรเครดิต</li></a>
                <a href="/payement/bank/"><li>โอนผ่านธนาคาร</li></a>
            </ul>    
        </div>
    </div>
{% endblock %}