{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/css/register.css' %}">

    <div class="box-all-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box-background-heading">
                    <h1 class="box-heading">ข้อมูลผู้ป่วย </h1></div>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="box-border">
                        <div class="edge-top"></div>
                        <div class="box-indent">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">เลขประจำตัวประชาชน </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" pattern="\w{13}" name="id_card_number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">คำนำหน้า </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="patient_name_title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ชื่อ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="patient_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">นามสกุล </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="patient_surname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">วันเกิด </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="date" class="form-control" name="birthday">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">เพศ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 box-gender">
                                            <input type="radio" id="male_gender" class="input-male" name="gender" value="ชาย" checked>
                                            <div class="box span-text"><span class="box-text-gender">ชาย </span></div>
                                        </div>
                                        <div class="col-md-12 box-gender">
                                            <input type="radio" id="female_gender" class="input-female" name="gender" value="หญิง">
                                            <div class="box span-text"><span class="box-text-gender">หญิง </span></div>
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">หมู่เลือด </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select name="blood_group_abo" id="" class="form-control">
                                                <option value="0">-</option>
                                                <option value="1">A</option>
                                                <option value="2">B</option>
                                                <option value="3">O</option>
                                                <option value="4">AB</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">เชื้อชาติ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="race" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">สัญชาติ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="nationallity" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ศาสนา </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="religion" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">สถานภาพ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select name="status" id="status" class="form-control">
                                                <option value="0">ไม่ระบุ </option>
                                                <option value="1">โสด </option>
                                                <option value="2">สมรส </option>
                                                <option value="3">หม้าย </option>
                                                <option value="4">หย่า </option>
                                                <option value="5">แยกกันอยู่ </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">อาชีพ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="occupy">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ที่อยู่ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="patient_address" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">โรคประจำตัว </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="congenital_disease" class="form-control">
                                            <small>คั่นด้วยเครื่องหมายลูกน้ำ (,)</small>
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">E-mail </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">เบอร์โทรศัพท์ </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="number" name="telephone_number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ชื่อ-นามสกุลของบิดา </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="father_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ชื่อ-นามสกุลของมารดา </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="mother_name">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ชื่อผู้ที่ติดต่อได้ฉุกเฉิน </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="emergency_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">เบอร์โทรผู้ติดต่อฉุกเฉิน </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="number" name="emergency_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12"><span class="box-span">ที่อยู่ของผู้ที่ติดต่อได้ฉุกเฉิน </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="emergency_addr" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-indent-vertical"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="checkbox box-accept-condition">
                                                <label class="label-confirm">
                                                    <input type="checkbox" class="checkbox-phone"> ยืนยัน</label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="box-accept-condition">
                                                    <input type="checkbox" id="confirm-info"> ข้าพเจ้ายินยอมเปิดเผยข้อมูลการตรวจรักษาของข้าพเจ้า ให้แก่คณะแพทย์, พยาบาล,เจ้าหน้าที่และบุคลากรของโรงพยาบาลที่เกี่ยวข้องซึ่งมีความจำเป็นในการเข้าถึงข้อมูลของข้าพเจ้า</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <button id="submit" class="btn btn-default" disabled>บันทึกข้อมูล</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/is_js/0.9.0/is.min.js"></script>
    <script>
        $('input#confirm-info').change(function() {
            if ($(this).prop('checked')) {
                $('button#submit').prop('disabled', false);
            } else {
                $('button#submit').prop('disabled', true);
            }
        })
        $('form:not(#logout)').submit(function() {
            var isConfirmed = $("input#confirm-info").prop('checked');
            var data = $(this).serializeArray();
            var formError = false;
            var formComplete = true;
            $.each(data, function() {
                if (this.value === '') {
                    formComplete = false;
                }
                if (this.name === 'id_card_number') {
                    if (this.value.length !== 13) {
                        alert('เลขประจำตัวประชาชนไม่ถูกต้อง');
                        formError = true;
                        formComplete = false;
                    }
                }
            });
            if (isConfirmed && formComplete) {
                return true;
            } else {
                if (!formComplete && !formError) {
                    alert('กรุณากรอกข้อมูลให้ครบทุกช่อง');
                }
                return false;
            }
        });
    </script>
{% endblock %}