{% extends "layout.html" %}

{% load i18n %}
{% block head_title %}{% trans "ลงชื่อเข้าใช้" %}{% endblock %}

{% block title%}Log in{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css' %}" />
{% if user.is_authenticated %}
  <form id="logoutForm" action="{% url 'account_logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
      <li>
        <span class="navbar-brand"> Hello {{ user.username }}!</span>
      </li>
      <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
      </li>
    </ul>
  </form>
{% else %}
<div class="box">
  <div class="title-login">
    <label class="text-title-login">ระบบล็อคอิน </label>
  </div>
  <div class="box-tab-detail">
    <div class="tab-under-title"></div>
    <div class="dsetail-login">
      <section id="loginForm">
        <form class="login" method="POST" action="{% url 'account_login' %}" class="form-horizontal">
          {% csrf_token %} 
          <!-- {{ form.as_p }}  -->

          <!-- <span class="input-group-addon glyphicon glyphicon-lock"></span> -->
          <div class="box-username {% if form.login.errors %}has-error{% endif %}">
            <div class="title-username">
              <label for="id_username" class="col-md-2 control-label">Username</label>
            </div>
            <div class="input-username">
               {{ form.login }}
            </div>
          </div>
          <div class="box-password {% if form.password.errors %}has-error{% endif %}">
            <div class="title-password">
              <label for="id_password" class="col-md-2 control-label">Password</label>
            </div>
            <div class="input-password">
               {{ form.password }}
            </div>
          </div>
          {% if form.errors %}
            <div style="text-align: center; color: red;">Username หรือ Password ไม่ถูกต้อง</div>
            <br>
          {% endif %}
          <div class="fieldWrapper form-inline remember text-center">
            {{ form.remember }}
            <label for="id_remember" class="text-muted">Remember me</label>            
          </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
          {% endif %}
          <div class="box-button-detail">
            <!-- <div class="col-md-offset-2 col-md-10"> -->
              <button class="primaryAction btn btn-default btn-login" type="submit">{% trans "ลงชื่อเข้าใช้" %}</button>
              <br>
              <br>
              {% blocktrans %}<a href="{{ signup_url }}">สมัครสมาชิก</a>{% endblocktrans %}
              {% comment %} <a class="button secondaryAction" href="{% url 'account_reset_password' %}"><button type="button" class="primaryAction btn btn-default btn-login">{% trans "ลืมรหัสผ่าน" %}</button></a> {% endcomment %}

              <!-- </div> -->
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
  <!-- <h1>{% trans "ลงชื่อเข้าใช้" %}</h1> -->

{% endif %}

<script src="{% static 'app/scripts/jquery.min.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
