{% extends "layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="box-password {% if form.password.errors %}has-error{% endif %}">
            <div class="title-password">
                <label for="id_password" class="col-md-2 control-label">Current Password </label>
            </div>
            <div class="input-password">
                {{ form.oldpassword }}
            </div>
        </div>
        <div class="box-password {% if form.password.errors %}has-error{% endif %}">
            <div class="title-password">
                <label for="id_password" class="col-md-2 control-label">New Password </label>
            </div>
            <div class="input-password">
                {{ form.password1 }}
            </div>
        </div>
        <div class="box-password {% if form.password.errors %}has-error{% endif %}">
            <div class="title-password">
                <label for="id_password" class="col-md-2 control-label">New Password (again) </label>
            </div>
            <div class="input-password">
                {{ form.password2 }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
